:root {
  /*Текст*/
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-title-color: #ffffff;
  --accent-text-color: #2196f3;
  --accent-one-color: #000000;
  --accent-two-color: rgba(255, 255, 255, 0.6);
  /*Фон*/
  --primary-bacground: #ffffff;
  --accent-bacground: #2f303a;
  --accent-two-background: #f5f4fa;
  --button-background: #188ce8;
}

body {
  background-color: var(--primary-bacground);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}
.nolist {
  list-style: none;
}

/*Логотип*/
.logo-top {
  color: var(--accent-one-color);
}
.logo-bottom {
  color: var(--accent-title-color);
}
.logo {
  color: var(--accent-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

/*Шапка*/
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}
.site-nav .link.current {
  color: var(--accent-text-color);
}
.contacts-nav a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts-nav a:hover,
.contacts-nav a:focus {
  color: var(--accent-text-color);
}

/*Герой*/
.hero {
  background-color: var(--accent-bacground);
}
.hero-tytle {
  color: var(--accent-title-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  cursor: pointer;
  font-family: inherit;
}
.primary {
  color: var(--accent-title-color);
  background-color: var(--button-background);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/*Блок-Особенности*/
.feature-title {
  color: var(--title-text-color);
}
.feature-item {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/*Блок-Чем мы занимаемся*/
.work-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/*Блок-Наша команда*/
.team {
  background-color: var(--accent-two-background);
}
.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-item {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-list .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/*Подвал*/
.bottom {
  background-color: var(--accent-bacground);
  font-size: 14px;
  line-height: 1.71;
}
.contacts-item {
  color: var(--accent-two-color);
}
.address-item {
  color: var(--accent-title-color);
}
.contacts-bottom a:hover,
.contacts-bottom a:focus {
  color: var(--accent-text-color);
}
.contacts-bottom a {
  font-style: normal;
  text-decoration: none;
}

/*Портфолио*/
.secondary {
  color: var(--title-text-color);
  background-color: var(--accent-two-background);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.filters button:hover,
.filters button:focus {
  background-color: var(--accent-text-color);
  color: var(--accent-title-color);
}
.portfolio-title {
  color: var(--title-text-color);
}
.portfolio-list .desc {
  font-size: 16px;
  line-height: 1.87;
}
.portfolio-item {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
